@model Test.Models.todoitem

@{
    ViewBag.Title = "Details";
}

<h2>Task Details:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <a class="btn btn-default" href="@Url.Action("Index")">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span>Back to List</span>
        </a>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">
            <i class="glyphicon glyphicon-edit"></i>
            <span>Edit</span>
        </a> 
    </div>
}
