@model IEnumerable<Test.Models.todoitem>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">Here is your list of tasks to do. You are able to: add new tasks, edit existing tasks, mark them as complete, or delete them if you no longer need them.</p>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#inprogress" aria-controls="inprogress" role="tab" data-toggle="tab">Inprogress</a></li>
    <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="inprogress">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th />
                    <th />
                    <th />
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.IsCompleted == false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span>Edit</span>
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", new { id=item.Id})" class="btn btn-info">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                    <span>Details</span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Action("Delete", new {id=item.Id})">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="completed">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th />
                    <th />
                    <th />
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.IsCompleted == true)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span>Edit</span>
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", new { id=item.Id})" class="btn btn-info">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                    <span>Details</span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Action("Delete", new {id=item.Id})">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<a href="@Url.Action("Create")" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    <span>New Task</span>
</a>